{% extends "base.html" %} 

{% block content%}

<h1> ALL BLOG POSTS ON BLOGZ </h1>
    <form method ='post'>
        <div>
            {% for blog in blogs %}
            <h2> <a href= "{{url_for('post',blog_id=blog.id) }}" > {{blog.title}} </a> </h2>
            <p> {{blog.body}} </p>
            <footer> written by <a href ="/?id={{blog.owner.id}}"> {{blog.owner.username}} </a></footer>
            <!-- you can have multiple dot notations - first identifying the table, column or input data, -- pass in the username not the id and then link to the singleUser page  -->
            <!--{{url_for('post',blog_id=blog.id) }}  -->
            <hr>
            {% endfor %}
            
        </div>

    </form>
 

{% endblock %}

