<!-- We will also add a singleUser.html template that will be used to display 
    only the blogs associated with a single given author. It will be used when we 
    dynamically generate a page using a GET request with a user query parameter on 
    the /blog route (similar to how we dynamically generated individual blog entry pages
    in the last assignment). -->

{% extends "base.html" %} 

{% block content %}

<h1> Blog Posts by <br> {{user.username}} </h1>
    <form method ='post'>
        <div>
            {% for blog in blogs %}
            <h2> <a href= "{{url_for('post',blog_id=blog.id) }}" > {{blog.title}} </a> </h2>
            <p> {{blog.body}} </p>
            <footer> written by <a href ="/?id={{blog.owner.id}}"> {{blog.owner.username}} </a></footer>
            <!--  pass in the user name not the id and href to the singleUser page  -->
            <hr>
            {% endfor %}
            
        </div>

    </form>
   

{% endblock %}